<% content_for :title, "Aufgabe bearbeiten" %>

<h1>Aufgabe bearbeiten</h1>

<%= render "form", task: @task %>

<br>

<div>
  <%= link_to "Aufgabe anzeigen", @task %> |
  <%= link_to "Zurück zur Liste", tasks_path %>
</div>
