<% content_for :title, "Gliederung bearbeiten" %>

<h1>Gliederung bearbeiten</h1>

<%= render "form", entity: @entity %>

<br>

<div>
  <%= link_to "Gliederung anzeigen", @entity %> |
  <%= link_to "Zurück zur Liste", entities_path %>
</div>
