<% content_for :title, "Gliederungen" %>

<div class="page-header">
  <h1>Gliederungen</h1>
  <% if admin? %>
    <%= link_to "Neue Gliederung", new_entity_path, class: "btn btn-primary" %>
  <% end %>
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Gliederungsebene</th>
      <th>Übergeordnete Gliederung</th>
    </tr>
  </thead>

  <tbody>
    <% @entities.each do |entity| %>
      <tr>
        <td><%= link_to entity.name, entity %></td>
        <td><%= entity.entity_level_label %></td>
        <td><%= entity.parent_entity&.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
