<% content_for :title, @entity.name %>

<div class="card">
  <%= render @entity %>
</div>

<div class="btn-group">
  <%= link_to "Bearbeiten", edit_entity_path(@entity), class: "btn btn-secondary" %>
  <%= link_to "Zurück zur Liste", entities_path, class: "btn btn-secondary" %>
  <%= button_to "Löschen", @entity, method: :delete, class: "btn btn-danger btn-sm" %>
</div>
