<h2>Anmelden</h2>

<p>Bitte melde dich mit deinem PiratenSSO-Konto an.</p>

<%= link_to "Mit PiratenSSO anmelden", user_openid_connect_omniauth_authorize_path, data: { turbo_method: :post }, class: "button" %>
