<% content_for :title, "Kategorie bearbeiten" %>

<h1>Kategorie bearbeiten</h1>

<%= render "form", category: @category %>

<br>

<div>
  <%= link_to "Kategorie anzeigen", @category %> |
  <%= link_to "Zurück zur Liste", categories_path %>
</div>
