    <nav>
      <ul> 
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Tasks", tasks_path %></li>
        <li><%= link_to "Entities", entities_path %></li>
        <li><%= link_to "Categories", categories_path %></li>
      </ul>
    </nav>